main {
  /* margin: 50px; */
}
.books-template {
  display: grid;
}

@media screen and (min-width: 768px) {
  .books-template {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 15px;
  }
}

@media screen and (min-width: 900px) {

  .books-template {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 15px;
  }
}
